h1
{
	text-align: center;
	color: red;
	text-decoration: underline;
	margin-bottom: 0px;
	margin-top: 5px;
}

p
{
	font-size: 16px;
	font-family: Tahoma;
	color: black;
	font-weight: bold;
	text-align: center;
	margin-top: 0px;
}

div
{
	border: 1px solid black;
	border-radius: 20px;
}

#basicGitCommands
{
	margin-top: 10px;
}